name: CI http_api

on:
    workflow_dispatch:
    push:
        branches:
            - main
        paths:
            - "packages/http_api/**"
            - ".github/workflows/tests_packages_http_api.yaml"
    pull_request:
        branches:
            - main
        paths:
            - "packages/http_api/**"
            - ".github/workflows/tests_packages_http_api.yaml"

permissions:
    contents: write

jobs:
    golangci-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-go@v6
              with:
                  go-version: "1.26"
            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@v9
              with:
                  version: ${{ env.GOLANGCI_LINT_VERSION }}
                  working-directory: ./packages/http_api
    unit-tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: "1.26"
            - name: Install dependencies
              working-directory: ./packages/http_api
              run: go mod tidy
            - name: Run tests
              working-directory: ./packages/http_api
              run: go test ./...
