name: Test letter

on:
    push:
        branches:
            - main
        paths:
            - "apps/letter/**"
            - ".github/workflows/tests_apps_letter.yaml"
    pull_request:
        branches:
            - main
        paths:
            - "apps/letter/**"
            - ".github/workflows/tests_apps_letter.yaml"

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: "1.25"
            - name: Install dependencies
              working-directory: ./apps/letter
              run: go mod tidy
            - name: Run tests
              working-directory: ./apps/letter
              run: go test ./...
