name: CI letter

on:
    workflow_dispatch:
    push:
        branches:
            - main
        paths:
            - "apps/letter/**"
            - ".github/workflows/tests_apps_letter.yaml"
    pull_request:
        branches:
            - main
        paths:
            - "apps/letter/**"
            - ".github/workflows/tests_apps_letter.yaml"

permissions:
    contents: read

jobs:
    golangci-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-go@v6
              with:
                  go-version: "1.25"
            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@v9
              with:
                  version: ${{ env.GOLANGCI_LINT_VERSION }}
                  working-directory: ./apps/letter
    unit-tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: "1.25"
            - name: Install dependencies
              working-directory: ./apps/letter
              run: go mod tidy
            - name: Run tests
              working-directory: ./apps/letter
              run: go test ./...
