name: OSSF Scorecard

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    scorecard:
        name: Run OSSF Scorecard
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout"
              uses: "actions/checkout@v4"

            - name: "OSSF Scorecard action"
              uses: "ossf/scorecard-action@v2.4.3"
              with:
                  results_file: "scorecard.json"
                  results_format: "json"
                  publish_results: true
                  file_mode: "write"
                  repo_token: "${{ secrets.GITHUB_TOKEN }}"
