name: "Release & Documentation"

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: "Publish Features"
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: "./devcontainer_features"
          generate-docs: "true"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create PR for Documentation
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Automated documentation update [skip ci]
          branch: automated-documentation-update-${{ github.run_id }}
          title: Automated documentation update
          body: Automated documentation update
          paths: |
            **/README.md
