name: Test http_api

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: "1.25"
            - name: Install dependencies
              working-directory: ./packages/http_api
              run: go mod tidy
            - name: Run tests
              working-directory: ./packages/http_api
              run: go test ./...
