name: Test @baldeweg/create

on:
    push:
        branches:
            - main
        paths:
            - "apps/@baldeweg/create/**"
            - ".github/workflows/tests_apps_create.yaml"
    pull_request:
        branches:
            - main
        paths:
            - "apps/@baldeweg/create/**"
            - ".github/workflows/tests_apps_create.yaml"

permissions:
    contents: read

jobs:
    unit:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
            - name: Install pnpm
              run: npm install -g pnpm
            - name: Install dependencies
              run: pnpm install
            - name: Run tests
              run: pnpm -F @baldeweg/create test
